<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_main.css' %}">
    <title></title>
  </head>
  <body>
    {% load socialaccount %}
      <a href="{% provider_login_url "vk" method="oauth2" %}"> Войти через VK </a>
  </body>
</html>
